---
- name: Déploiement de SenEventPro sur Kubernetes
  hosts: kubernetes_hosts
  tasks:
    - name: Appliquer les fichiers de configuration Kubernetes
      # On remonte d'un dossier pour trouver /k8s depuis /ansible
      command: "kubectl apply -f ../k8s/{{ item }} --validate=false"
      loop:
        - postgres.yaml
        - backend.yaml
        - frontend.yaml
      register: apply_output

    - name: Afficher le résultat de l'application
      debug:
        msg: "{{ item.stdout }}"
      loop: "{{ apply_output.results }}"

    - name: Forcer le redémarrage des Pods pour utiliser les nouvelles images
      command: "kubectl rollout restart deployment {{ item }}"
      loop:
        - backend-deployment
        - frontend-deployment